<% return if message.role == "system" %>

<div id="<%= dom_id(message) %>" class="d-flex mb-3 <%= message.role == "user" ? "justify-content-end" : "justify-content-start" %>">

  <div class="p-2 px-3 rounded"
       style="max-width:70%;
       background:<%= message.role == "user" ? "#0d6efd" : "#f1f3f5" %>;
       color:<%= message.role == "user" ? "white" : "black" %>">

    <% if message.role == "assistant" %>
      <pre class="mb-0"><%= message.content %></pre>
    <% else %>
      <%= simple_format(message.content) %>
    <% end %>

  </div>

</div>
