<p><%= link_to "← Back to projects", projects_path %></p>

<h1 class="text-center mb-4 fw-bold" style="color: black;"><%= @project.title %></h1>
<p class="text-center mb-4 text-muted">
  <%= @project.category.to_s.humanize %> •
  <%= @project.level.to_s.humanize %> •
  <%= @project.duration.to_s.humanize %> •
  Max <%= @project.max_team_members %>
</p>

<div class="mb-2 d-flex gap-5">
  <% if @project.status_draft? %>
    <%= button_to "Publish Project", publish_project_path(@project), method: :patch, class: "btn btn-success" %>
  <% else %>
    <span class="badge bg-success align-self-center">Published</span>
  <% end %>
</div>

<div class="card p-3 mb-3 shadow-sm border-2 border-warning">
  <h3>Description</h3>
  <%= simple_format(@project.full_description) %>
</div>

<div class="row g-3">
  <div class="col-md-6">
    <div class="card p-3 shadow-sm border-2 border-warning">
      <h4>Stack technique</h4>
      <ul class="mb-0">
        <% @project.tech_stack_list.each do |t| %>
          <li><%= t %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card p-3 shadow-sm border-2 border-warning">
      <h4>Rôles d'équipe</h4>
      <ul class="mb-0">
        <% @project.team_roles_list.each do |r| %>
          <li><%= r %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card p-3 shadow-sm border-2 border-warning">
      <h4>Objectifs</h4>
      <ul class="mb-0">
        <% @project.objectives_list.each do |o| %>
          <li><%= o %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card p-3 shadow-sm border-2 border-warning">
      <h4>Timeline</h4>
      <ul class="mb-0">
        <% @project.timeline_list.each do |p| %>
          <li><%= p %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="mt-4 d-flex gap-2">
  <%= link_to "Affiner avec Codi", project_chat_path(@project), class: "btn btn-outline-primary" %>

  <% if @project.status_draft? %>
    <%= button_to "Publish Project", publish_project_path(@project), method: :patch, class: "btn btn-success" %>
  <% else %>
    <span class="badge bg-success align-self-center">Published</span>
  <% end %>
</div>
